<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="actions">
	<button type="button" data-action="createPseudoDocument" data-pseudo-document-name="Action"><i
			class="fa-solid fa-plus"
		></i>
		Add Action
	</button>
	<table class="action-table">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each actions as |action|}}
				<tr class="action-entry" data-pseudo-document-name="Action" data-pseudo-id="{{action._id}}">
					<td><img src="{{action.img}}" /></td>
					<td>{{action.name}}</td>
					<td class="flexrow">
						<button data-action="renderPseudoDocumentSheet"><i class="fa-solid fa-edit"></i></button>
						<button data-action="deletePseudoDocument"><i class="fa-solid fa-trash"></i></button>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</section>
