:root {
	--color-base: #c0c0c0;
	--color-highlight: #e0e0e0;
	--color-lowlight: #808080;
	--color-border: #000000;
	--color-input-bg: #ffffff;
	--color-input-label: #808080;
	--color-input-fg: #000000;
}
